#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 3s steps(40) 1s 1 normal both;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* styles.css */

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.box {
  /* Positioning */
  position: absolute;
  right: 20px; /* Adjust this value as needed */
  
  /* Text styles */
  font-size: 14px; /* Adjust this value as needed */
  
  /* Padding */
  padding: 6px 16px; /* Adjust this value as needed */
  
  /* Roundness */
  border-radius: 9999px;
}

.text-white {
  color: white;
}

@media (max-width: 768px) {
  .box {
    font-size: 12px;
    padding: 4px 12px;
    right: 10px; /* Adjust this value as needed for smaller screens */
  }
}
